[submodule "blocks/panopto"]
	path = blocks/panopto
	url = https://github.com/Panopto/Moodle-2.0-Plugin-for-Panopto
[submodule "local/ltiprovider"]
	path = local/ltiprovider
	url = https://github.com/jleyva/moodle-local_ltiprovider
