[submodule "blocks/turnitin"]
	path = blocks/turnitin
	url = https://github.com/jmcgettrick/MoodleDirectV2
[submodule "blocks/panopto"]
	path = blocks/panopto
	url = https://github.com/Panopto/Moodle-2.0-Plugin-for-Panopto
[submodule "lib/editor/atto/plugins/panoptobutton"]
	path = lib/editor/atto/plugins/panoptobutton
	url = https://github.com/Panopto/Panopto-Button-for-Atto
[submodule "lib/editor/tinymce/plugins/panoptobutton"]
	path = lib/editor/tinymce/plugins/panoptobutton
	url = https://github.com/Panopto/Add-Panopto-Video--button-for-moodle-tinyMCE-editor
